.main-container {
  width: 100%;
  background-image: url("../../assets/images/hero-img.jpg");
  background-position: center;
  background-size: cover;
}

.header-container {
  width: 100%;
  padding: 7.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.904);
}

.header-container h1 {
  font-size: 6rem;
}

.subheading {
  font-size: 1.5rem;
}

.icons {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
